body {
  width: 90%;
  margin: 0px auto;
  background-color: #1a2433;
  display: flex;
  flex-wrap: wrap;
}

.projects {
  position: relative;
  text-align: center;
}

.projects .project,
.desc {
  width: 100%;
  height: 300px;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.projects .project {
  display: flex;
  background-color: #a5a6ac;
}

.desc {
  display: none;
  background-color: #355b6d;
  width: 100%;
  margin: 0px;
}

.project .desc p {
  margin-top: 2.5em;
  margin: 0.5em;
}

.projects .project,
.projects .project .desc p {
  font-size: 1.5em;
}

.projects .project {
  margin-top: 4em;
}

.projects .project > p {
  text-align: center;
  margin-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.projects .project p a {
  text-decoration: none;
  color: #212121;
}

p,
ul {
  font-size: 2em;
  line-height: 1.2em;
  color: #e0a18c;
}

h1,
h2,
h3 {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  color: #e0a18c;
}

h1,
h2,
.headWrapper {
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.2em;
}

@media only screen and (min-width: 65.5em) and (max-width: 80em) {
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2.8em;
  }
  .projects {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects .project {
    width: 50%;
  }
  .project .desc p {
    margin-top: 1em;
  }
}

@media only screen and (min-width: 80em) {
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2.8em;
  }
  .body {
    width: 80%;
    margin: 0 auto;
  }
  .projects {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects .project {
    width: 33.3%;
  }
  .projects .project .desc p {
    margin-top: 4em;
  }
}

.typewriter,
span.blink {
  display: inline-block;
}

.main-info span.blink h3 {
  margin-left: 10px;
  animation: blink;
  animation-name: blink;
  animation-timing-function: steps(1, end);
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  100%,
  50% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

a {
  color: #e0a18c;
  font-size: 1em;
  text-decoration: none;
}

footer {
  width: 100%;
  position: relative;
  height: 1em;
  display: block;

  border-top: 1px solid #e0a18c;
  font-size: 0.8em;
}

footer a {
  top: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 2em;
  text-decoration: none;
  color: #e0a18c;
  display: block;
}
