{
    "presets": ["@babel/preset-react", "@babel/preset-env"],
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            {
                "pragma": "h",
                "pragmaFrag": "Fragment",
            },
        ], ["babel-plugin-transform-goober"]
    ],

  }