:root {
  --text-color: #334162;
  --background: #ffffff;

  --dark-mode-button: #ffc3bb;

  --button-text-color: #f3ecda;



  /*dark mode colors*/
  --dark-background: #272727;
  --dark-mode-text: #ffffff;
}

#darkModeButton {
  margin-top: .5em;
  border: none;
  outline: none;
  font-size: 1em;
  border-radius: 5%;
  background-color: var(--text-color, #334162);
  color: var(--button-text-color, #f3ecda);
  cursor: pointer;
}

#darkModeButton:hover {
  text-decoration: none;
  color: var(--text-color-hover, #ffc3bb);
}

.darkModeText {
  color: var(--dark-mode-text, #ffffff) !important;
}

.darkBackground {
  background-color: var(--dark-background, #272727) !important;
}


body {
  width: 100%;
  margin: 0px auto;
  background-color: var(--background, #ffffff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.contentWrapper {
  width: 90%;
}

.contentWrapper .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p,
ul {
  font-size: 1.5em;
  color: var(--text-color, #334162);
}

.projects {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.projects .columnCont {
  width: 100%;
  height: 13em;
}

.projects .project,
.desc {
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
}

.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desc {
  width: 100%;
  margin: 0px;
}

.desc p {
  margin-top: 0.7em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.desc p {
  font-size: 1.5em;
}

.projects .project {
  margin-top: 1em;
}

.projects .project p {
  text-align: center;
  margin-top: 0.5em;
}

.projects .project a {
  color: var(--text-color, #334162);
  text-decoration: none;
}

.projects .project a:hover {
  text-decoration: underline;
}

a.link {
  text-decoration: underline;
}


.darkBackground ul {
  color: var(--dark-mode-text, #ffffff);
}

h1,
h2,
h3 {
  color: var(--text-color, #334162);
}

h1,
h2,
.headWrapper {
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.2em;
}

@media only screen and (min-width: 65.5em) and (max-width: 80em) {
  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2.8em;
  }

  .projects {
    height: 16em;
    padding-bottom: 2em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .projects .desc p {
    margin-top: 4em;
  }
}

@media only screen and (min-width: 80em) {
  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2.8em;
  }

  .body {
    width: 80%;
    margin: 0 auto;
  }

  .projects {
    height: 16em;
    padding-bottom: 2em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .projects .project,
  .projects .desc {
    width: 90%;
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  .projects .desc p {
    margin-top: 1.5em;
  }
}

.typewriter,
span.blink {
  display: inline-block;
}

.main-info span.blink {
  font-size: 3em;
  margin-left: 10px;
  -webkit-animation: blink;
  animation: blink;
  -webkit-animation-name: blink;
  animation-name: blink;
  -webkit-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes blink {

  100%,
  50% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

@keyframes blink {

  100%,
  50% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

a {
  color: var(--text-color, #334162);
  font-size: 1em;
}

footer {
  width: 100%;
  position: relative;
  height: 3em;
  display: block;
  border-top: 1px solid var(--text-color, #334162);
}

.darkBackground footer {
  border-top: 1px solid var(--dark-text-color, #ffffff);
}

footer a {
  top: 0px;
  margin: 10px;
  padding: 0px;
  font-size: 2em;
  text-decoration: none;
  color: var(--text-color, #334162);
  display: inline-block;
}