/* stylex.css */
@stylex stylesheet;

:root {
  --eggshell: #f3efe0;
  --light-bg: #f9f9f8;
  --dark-bg: #1e1a1d;
  --blue: #00b6ff;
  --btn-primary: var(--blue);

  --accent-color: coral;

  --btn--secondary: #00a96e;

  --light-accent: #3f2e56;

  --secondary-accent: #ffeed6;

  --yellow: #efa00b;
  --red: #f25757;

  --btn-color: var(--btn-primary);

  --highlight-color: var(--btn--secondary);

  --color-bg: var(--eggshell);
  --color-fg: var(--dark-bg);

  --sm-content: 90vw;
  --base-header: 3rem;
  --large-header: 4rem;
  --super-large-header: 5rem;
}

/* prevent a flash of the light theme before 
the dark theme is applied if users prefer 
a dark color scheme */

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --color-bg: var(--dark-bg);
    --color-fg: var(--light-bg);
  }
}

[data-theme="light"] {
  --color-bg: var(--eggshell);
  --color-fg: var(--dark-bg);
}

[data-theme="dark"] {
  --color-bg: var(--dark-bg);
  --color-fg: var(--light-bg);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", Helvetica,
    sans-serif;
}

body main {
  background-color: var(--light-bg);
}

body main {
  max-width: var(--sm-content);
}

body main h1 {
  font-size: var(--base-header);
}

@media (width <= 20rem) {
  body main h1 {
    font-size: 2.3rem;
  }
}

@media (min-width: 26rem) {
  body main h1 {
    font-size: var(--large-header);
  }
}

@media (30rem <= width <= 59rem) {
  body main {
    width: 70vw;
  }
  body main h1 {
    font-size: var(--large-header);
  }
}
@media (59rem <= width <= 69rem) {
  body main {
    width: 60vw;
  }
  body main h1 {
    font-size: var(--super-large-header);
  }
}

@media (min-width: 69rem) {
  body main {
    width: 45vw;
  }
  body main h1 {
    font-size: var(--super-large-header);
  }
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  font-weight: 500;
} */

body footer {
  background-color: var(--light-bg);
}

html p {
  font-size: 1.2rem;
}

body,
body main,
body footer {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

.resume {
  margin: 0;
  padding: 0;
}

.resume_link {
  margin-left: 0.3rem;
  padding: 0;
  color: var(--dark-bg);
  text-decoration: none;
}

[data-theme="dark"] .resume_link {
  color: var(--light-bg);
}

[data-theme="dark"] nav a {
  color: var(--light-bg);
}

.resume_link:focus-visible {
  outline: 3px solid var(--blue);
  outline-offset: 3px;

  border-radius: 0.125rem;
}

@supports not selector(:focus-visible) {
  .resume_link:focus {
    /* Fallback for browsers without :focus-visible support */
    outline: 3px solid var(--btn-primary);
    outline-offset: 3px;
    border-radius: 0.125rem;
  }
}

nav a {
  margin-left: 2rem;
  background-repeat: no-repeat;
  background-position-y: 26px;
  background-size: 0% 100%;
  background-image: linear-gradient(
    var(--highlight-color),
    var(--highlight-color)
  );
  transition: all 0.5s linear;
  color: var(--dark-bg);
  font-size: 1.3rem;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  box-shadow: 0 4px var(--highlight-color);
  background-size: 100% 100%;
  background-image: linear-gradient(
    to right,
    var(--highlight-color),
    var(--highlight-color)
  );
  transition: all 0.7s cubic-bezier(0, 0, 0.23, 1);
}

pre {
  background-color: #1b1b1f;
  padding: 10px;
  border-radius: 0.125em;
  font-size: 1rem;
  border: 2px solid skyblue;
}

.theme-switch {
  cursor: pointer;
  padding: 0.4rem;
  appearance: none;
  background-color: var(--color-bg);
  color: var(--color-fg);
  border-radius: 1rem;
  border: 4px solid var(--btn--secondary);
}

.theme-switch:focus-visible {
  outline: 3px solid var(--blue);
  outline-offset: 3px;

  border-radius: 0.125rem;
}
