@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer base {
  a,
  nav a {
    @apply text-something;
  }
  .dark a,
  .dark nav a {
    @apply text-pink-links;
  }
}

h1,
h2,
h3 {
  font-size: 1.5rem;
}

p,
ul li {
  font-size: 1rem;
}

ul {
  padding: 1rem;
}

ul a {
  text-decoration: underline;
}
