/* Coolors Exported Palette - coolors.co/542344-bfd1e5-ebf5ee-d8bfaa-808080 */

/* HSL */
$color1: hsla(320%, 41%, 23%, 1);
$color2: hsla(212%, 42%, 82%, 1);
$color3: hsla(138%, 33%, 94%, 1);
$color4: hsla(27%, 37%, 76%, 1);
$color5: hsla(0%, 0%, 50%, 1);

/* RGB */
$color1: rgba(84, 35, 68, 1);
$color2: rgba(191, 209, 229, 1);
$color3: rgba(235, 245, 238, 1);
$color4: rgba(216, 191, 170, 1);
$color5: rgba(128, 128, 128, 1);