.theme-switch {
    cursor: pointer;
    padding: 0 0.4rem 0 0.4rem;
    appearance: none;
    background-color: var(--color-bg);
    color: var(--color-fg);
    border-radius: 1rem;
    border: 4px solid var(--btn--secondary);
  }

  .theme-switch p {
    font-size: 1.3rem;
  }
  
  .theme-switch:focus-visible {
    outline: 3px solid var(--blue);
    outline-offset: 3px;
  
    border-radius: 0.125rem;
  }