html {
    width: 100%;
    height:100%;
}
body {
    background-color:#f1e5d7;
    width: 100%;
    height:100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
}

main {
    width: 80%;
    height:100%;
}