@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
p,
ul,
li {
  color: #eaa221;
}

a,
nav a {
  color: #fda4af;
}

ul {
  padding: 1rem;
}

ul a {
  text-decoration: underline;
}
