.rehype-code-title {
    padding: 0.5em 1em;
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
      'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
      'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
      monospace;
  
    background-color: black;
    color: white;
    z-index: 0;
  
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
  }
code {
    counter-reset: step;
    counter-increment: step 0;
  }
  
  code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: #ffffff;
  }

  /* code {
  white-space: pre-wrap;
  word-break: break-all;
} */