@import "./colors.css";
@import "./theme-switch.css";
@import "./code-block-styles.css"
@tailwind base;
@tailwind components;
@tailwind utilities;

main, body {
  background-color:var(--bg-color);
  color:var(--text-color);
}

p,
ul li {
  font-size: 1rem;
}

ul {
  padding: 1rem;
}

ul a {
  text-decoration: underline;
}

h1,
h2,
h3, h4, h5, h6 {
  font-size: 1.5rem;
  font-weight: 500;
  color:var(--heading-color);
}

a {
  color:var(--link-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--light-text);
    --bg-color: var(--light-bg);
    --link-color:var(--light-link);
    --heading-color:var(--light-heading);
  }

}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--dark-text);
    --bg-color: var(--dark-bg);
    --link-color:var(--dark-link);
    --heading-color:var(--dark-heading);
  }

  html:not(:has(.light))html:not(:has(.dark)) {
    body {
      --text-color: var(--dark-text);
      --bg-color: var(--dark-bg);
      --link-color:var(--dark-link);
      --heading-color:var(--dark-heading);
    }
  }
  /* html:not(:has(.light))html:not(:has(.dark)) {
    body {
      --text-color: var(--light-text);
      --bg-color: var(--light-bg);
      --link-color:var(--light-link);
      --heading-color:var(--light-heading);
    }
  } */
  
}

body:has(#light:checked) {
  main {
    --text-color: var(--light-text);
    --bg-color: var(--light-bg);
    --link-color:var(--light-link);
    --heading-color:var(--light-heading);

    background-color:var(--bg-color);
    color:var(--text-color);
  }
}

html:has(.light) {
  main {
    --text-color: var(--light-text);
    --bg-color: var(--light-bg);
    --link-color:var(--light-link);
    --heading-color:var(--light-heading);

    background-color:var(--bg-color);
    color:var(--text-color);
  }
}

body:has(#dark:checked) {
  main {
    --text-color: var(--dark-text);
    --bg-color: var(--dark-bg);
    --link-color:var(--dark-link);
    --heading-color:var(--dark-heading);

    background-color:var(--bg-color);
    color:var(--text-color);
  }
}

html:has(.dark) {
  main {
    --text-color: var(--dark-text);
    --bg-color: var(--dark-bg);
    --link-color:var(--dark-link);
    --heading-color:var(--dark-heading);

    background-color:var(--bg-color);
    color:var(--text-color);
  }
}

html:not(:has(.light))html:not(:has(.dark)) {
  body {
    --text-color: var(--light-text);
    --bg-color: var(--light-bg);
    --link-color:var(--light-link);
    --heading-color:var(--light-heading);
  }
}









