@import "./theme-switch.css";
@import "./colors.css";
@import "./code-block-styles.css"
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin:0;
}





/* @layer base {
  a,
  nav a {
    @apply text-lightLinks;
  }

  h1,
  h2,
  h3 {
    color: theme("colors.purple");
    font-weight: 500;
  }
} */

h1,
h2,
h3 {
  font-size: 1.5rem;
}

p,
ul li {
  font-size: 1rem;
}

ul {
  padding: 1rem;
}

ul a {
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  main {
    background-color: var(--bg-color)!important;
    color:var(--text-color)!important;


    a,
    nav a {
      color:theme("colors.lightLinks")!important;
    }, 
    h1,
    h2,
    h3 {
      color:theme("colors.purple")!important;
    }
  }
  }

  @media (prefers-color-scheme: dark) {
    main {
      background-color: var(--dark-bg)!important;
      color:var(--dark-text)!important;
  
      a,
      nav a {
        color:theme("colors.pink.links")!important;
      }, 
      h1,
      h2,
      h3 {
        color:theme("colors.lightBlue")!important;
      }
    }
  
  }

  main:has(#light:checked) {
    background-color: var(--bg-color)!important;
    color:var(--text-color)!important;


    a,
    nav a {
      color:theme("colors.lightLinks")!important;
    }, 
    h1,
    h2,
    h3 {
      color:theme("colors.purple")!important;
    }
  }

  main:has(#dark:checked) {
    background-color: var(--dark-bg)!important;
    color:var(--dark-text)!important;

    a,
    nav a {
      color:theme("colors.pink.links")!important;
    }, 
    h1,
    h2,
    h3 {
      color:theme("colors.lightBlue")!important;
    }
  }
