@import "./theme-switch.css";
@import "./colors.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-color: var(--light-bg);
  color: var(--light-text);
}

@layer base {
  a,
  nav a {
    @apply text-lightLinks;
  }
  body:has(.theme-switch:checked) {
    a,
    nav a {
      @apply text-pink-links;
    }
  }

  body:has(.theme-switch:checked) {
    main {
      background-color: var(--dark-bg);
      color: var(--dark-text);
    }
  }

  h1,
  h2,
  h3 {
    color: theme("colors.purple");
    font-weight: 500;
  }
  body:has(.theme-switch:checked) {
    h1,
    h2,
    h3 {
      @apply text-lightBlue;
    }
  }
}

h1,
h2,
h3 {
  font-size: 1.5rem;
}

p,
ul li {
  font-size: 1rem;
}

ul {
  padding: 1rem;
}

ul a {
  text-decoration: underline;
}
