/*based off of https://www.sarasoueidan.com/blog/toggle-switch-design/
 with changes for colors and icons */
.c-toggle {
	
	label {
		font-size: 1rem;
		margin: 0 .5em 0;
		cursor: pointer;

		span {
			display:flex;
			margin-top: 4px;
			color:var(--text-color);
		}
	}
	
	input[type="radio"] {
		display: inline-block;
		margin-right: -2px;
		width: 50%;
		height: 100%;
		opacity: 0;
		position: relative;
		z-index: 1;
		cursor: pointer;

		&:focus {
			main:has(#light:checked) {
				.c-toggle__switcher {
					border: 3px solid theme(colors.lightLinks)
				}
			}
			main:has(#dark:checked) {
				.c-toggle__switcher {
					border: 3px solid theme(colors.lightBlue)
				}
			}
		}
	}
}

.c-toggle__wrapper {
	font-size: 1.5rem;
	display: inline-block;
	vertical-align: middle;
	width: 2em;
	height: 0.8em;
	border-radius: 3.5em; /* = height */
	border: 3px solid var(--border-color);
	position: relative;
}
.c-toggle__switcher {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 100%;
	width: 50%;
	height: 100%;
	border-radius: 50%;
	transition: all 0.1s ease-out;
	z-index: 2;
}

.c-toggle__background {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	border-radius: 3.5em;
	background-color: var(--bg-color);
	transition: all 0.1s ease-out;
}

.sun {
	top: 0;
	left: 2%;
	z-index: 3;
	color:theme(colors.lightLinks);
	position: absolute;
}
.moon {
	top: 0;
	left: 50%;
	z-index: 3;
	position: absolute;
	color:var(--dark-border);
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color: var(--light-text);
		--bg-color: var(--light-bg);
		--border-color:var(--light-border);
	  }
	
	.sun {
		display:block;
	}
	.moon {
		display:none;
	}
	
  }

  @media (prefers-color-scheme: dark) {
	:root {
		--text-color: var(--dark-text);
		--bg-color: var(--dark-bg);
		--border-color:var(--dark-border);
	  }
	.sun {
		display:none;
	}
	.moon {
		display:block;
	}
	
}
html:has(#light:checked){
	body {
		--text-color: var(--light-text);
		--bg-color: var(--light-bg);
		--border-color:var(--light-border);
	  }
	.sun {
		display: block;
	}
	.moon {
		display:none;
	}
}

html:has(.light){
	body {
		--text-color: var(--light-text);
		--bg-color: var(--light-bg);
		--border-color:var(--light-border);
	  }
	.sun {
		display: block;
	}
	.moon {
		display:none;
	}
}

html:has(#dark:checked), html:has(.dark){
	body {
		--text-color: var(--dark-text);
		--bg-color: var(--dark-bg);
		--border-color:var(--dark-border);
	  }
	.sun {
		display: none;
	}
	.moon {
		display:block;
	}
}

html:not(:has(.light))html:not(:has(.dark)) {
	body, main {
		--text-color: var(--light-text);
		--bg-color: var(--light-bg);
		--border-color:var(--light-border);
	  }
	.sun {
		display: block;
	}
	.moon {
		display:none;
	}
}





/* support Windows High Contrast Mode. 
Credit: Adrian Roselli https://twitter.com/aardrian/status/1021372139990134785 */
@media screen and (-ms-high-contrast: active) {
	.c-toggle__switcher {
		background-color: windowText;
	}
}